In [5]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score 
from sklearn.metrics import precision_score 
from sklearn.metrics import recall_score

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import GridSearchCV

In [2]:
titanic_df = pd.read_csv('datasets/titanic_processed.csv')

titanic_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,1,1,45.0,1,0,83.4750,0,0,1
1,0,3,1,42.0,0,1,8.4042,0,0,1
2,1,3,1,1.0,1,2,20.5750,0,0,1
3,0,3,1,23.5,0,0,7.2292,1,0,0
4,1,3,1,27.0,0,0,8.6625,0,0,1

In [3]:
X = titanic_df.drop("Survived", axis=1)
Y = titanic_df["Survived"]

x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)

In [4]:
def summarize_classification(y_test, y_pred):
    acc = accuracy_score(y_test, y_pred, normalize=True)
    num_acc = accuracy_score(y_test, y_pred, normalize=False) 
    prec = precision_score(y_test, y_pred) 
    rec = recall_score(y_test, y_pred)
    
    print('test data count: ', len(y_test))
    print('accuracy: ', acc)
    print('precision: ', prec)
    print('recall: ', rec)
    print('accuracy_count: ', num_acc)
    print()

In [6]:
parameters = {'max_depth':[2,4,5,7,9,10]}

grid_search = GridSearchCV(DecisionTreeClassifier(), parameters, cv=3,return_train_score=True)
grid_search.fit(x_train, y_train)

grid_search.best_params_

{'max_depth': 4}

In [7]:
decision_tree_model = DecisionTreeClassifier(\
                max_depth=grid_search.best_params_['max_depth']).fit(x_train, y_train)

In [ ]:
y_